:root {
    /* --clr-dark: #010101; */
    --clr-dark: #070a13;
    --clr-light: #f1f5f9;
    --clr-slate400: #94a3b8;
    --clr-slate600: #475569;
    --clr-purple: #902b91;
    --clr-violet: #902bf5;

    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-s: 0.875rem;
    --size-base: 1rem;
    --size-l: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
}

#main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#game_title{
    color: var(--clr-slate400);
    text-transform: uppercase;
    font-weight: 400;
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
    margin-top: 50px;
}

#game_text{
    max-width: 60ch;
    font-size: var(--size-2xl);
    color: var(--clr-slate600);
    margin-top: 50px;
}

body {
    font-family: 'Archivo', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}


.my_img{
    display: block;
    height: 350px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.btn__ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.btn {
    font-size: var(--size-2xl);
    text-decoration: none;
    background: none;
    font-weight: 600;
    color: var(--clr-purple);
    cursor: pointer;
    border: none;
    letter-spacing: -0.05em;
    transition: color 0.3s;
}

.btn:hover {
    color: var(--clr-violet);
}

/*XS*/
@media (min-width: 475px){
    .container{
        max-width: 475px;
    }

    #game_title{
        font-size: var(--size-5xl);
    }
    
    #game_text{
        font-size: var(--size-3xl);
    }
    
    .my_img{
        height: 235px;
        width: 475px;
    }

    .btn {
        font-size: var(--size-3xl);
    }
}

/*S*/
@media (min-width: 640px){

    .container{
        max-width: 640px;
    }

    #game_title{
        font-size: var(--size-6xl);
    }
    
    #game_text{
        font-size: var(--size-4xl);
    }
    
    .my_img{
        height: 320px;
        width: 640px;
    }

    .btn {
        font-size: var(--size-4xl);
    }

}

/*M*/
@media (min-width: 768px){
    .container{
        max-width: 768px;
    }

    #main {
        gap: 1.5rem;
    }
    
    #game_title{
        font-size: var(--size-6xl);
    }
    
    #game_text{
        font-size: var(--size-4xl);
    }
    
    .my_img{
        height: 384px;
        width: 768px;
    }
    
    .btn__ul {
        gap: 1.5rem;
    }
    .btn {
        font-size: var(--size-4xl);
    }
}

/*L*/
@media (min-width: 1024px){
    .container{
        max-width: 1024px;
    }
}

/*XL*/
@media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }
}

/*XXL*/
@media (min-width: 1536px){
    .container{
        max-width: 1536px;
    }
}
